body {
  margin: 0;
  font-family: proxima-nova, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
}
.MuiDrawer-paper::-webkit-scrollbar {
  width: 0px;
}
.MuiDrawer-paper {
  background-color: #f3f6f8 !important;
}
